<?xml version="1.0"?>
<model>
  <name>pedestrian_obstacle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Mosaic MPPI</name>
    <email>kevinladlee@gmail.com</email>
  </author>
  <description>Simple local pedestrian-like obstacle for Gazebo Classic dynamic obstacle demos.</description>
</model>
